@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.collaborators {
  padding-left: 30px;
  padding-right: 30px;

  width: 700px;
  // background-color:$theme-color;

  .collaborators-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
    margin-top: 0px;

    img {
      width: 30px;
      margin-right: 10px;
    }

    .collaborators-title {
      margin-left: 4px;
      font-family: $theme-font;
      color: $label-color;
      font-weight: 300;
      font-size: 1.6em;
    }
  }

  .collaborators-form {
    margin-top: 0px;

    form {
      // background-color: $theme-color;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .input-group {
        width: 50%;
        height: 100px;
        position: relative;

        label {
          display: block;
          width: 100%;
          font-family: $theme-font;
          font-weight: 300;
          font-size: 1em;
          padding-top: 2px;
          padding-bottom: 2px;
          color: $label-color;

          .asterisk {
            color: $danger;
            font-weight: 300;
          }
        }

        input {
          width: 400px;
          border: 0;
          border-radius: 4px;
          background: $theme-color;
          font-family: $theme-font;
          font-size: 1.2em;
          color: $label-color;
          border: 2px solid $charcoal;
          font-weight: 300;
          outline: none;
        }

        input {
          padding: 7px;
        }

        .error-msg-wrapper {
          width: fit-content;
          height: 30px;
          margin-top: 5px;

          .error-msg {
            padding-left: 7px;
            padding-right: 7px;
            border-radius: 3px;
            background-color: #f52d7a31;
            color: $danger;
            font-family: $theme-font;
            font-weight: 400;
            font-size: 0.9em;
          }
        }
      }

      .check-and-add {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 25px;

        button {
          width: 160px;
          font-family: $theme-font;
          font-size: 1em;
          font-weight: 500;
          background-color: $craft-dash-green;
          color: $theme-color;
          padding: 6px;
          padding-top: 8px;
          padding-bottom: 8px;
          border: 2px solid $craft-dash-green;
          border-radius: 5px;
          cursor: pointer;
          outline: none;
          backdrop-filter: blur(10px);
          transition: 0.4s all ease;
        }

        button:hover {
          color: $craft-dash-green;
          font-weight: 500;
          background-color: rgba(63, 222, 156, 0.2);
          backdrop-filter: blur(10px);
          border: 2px solid $craft-dash-green;
          border-radius: 5px;
        }
      }
    }
  }

  .owner-details-wrapper {
    // border: 1px solid white;
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 30px;
    // width: fit-content;

    .owner-detail-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
    }
    h2 {
      font-family: $theme-font;
      font-size: 1em;
      font-weight: 200;
      color: $label-color;
    }
  }

  .collaborators-list-wrapper {
    padding-left: 35px;
    padding-right: 30px;
    margin-top: 10px;
    // border: 1px solid red;

    .collaborators-list-header {
      h2 {
        font-family: $theme-font;
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 7px;
        color: $label-color;
      }
    }
  }
}

.ideaboard-header-wrapper {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  // border: 2px solid $charcoal;
  background: linear-gradient(
    96.2deg,
    rgba(228, 228, 228, 0.22) 0%,
    rgba(227, 228, 228, 0.22) 6.67%,
    rgba(222, 228, 228, 0.22) 13.33%,
    rgba(214, 228, 228, 0.22) 20%,
    rgba(202, 227, 228, 0.22) 26.67%,
    rgba(186, 226, 228, 0.22) 33.33%,
    rgba(168, 225, 228, 0.22) 40%,
    rgba(148, 224, 228, 0.22) 46.67%,
    rgba(127, 223, 228, 0.22) 53.33%,
    rgba(107, 221, 228, 0.22) 60%,
    rgba(89, 220, 228, 0.22) 66.67%,
    rgba(74, 220, 228, 0.22) 73.33%,
    rgba(62, 219, 228, 0.22) 80%,
    rgba(53, 218, 228, 0.22) 86.67%,
    rgba(49, 218, 228, 0.22) 93.33%,
    rgba(47, 218, 228, 0.22) 100%
  );
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;

  .ideaboard-header-title {
    color: $label-color;
    font-family: $theme-font;
    font-size: 1em;
    font-weight: 300;
  }
}
