@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.collaborators {
  padding-left: 30px;
  padding-right: 30px;

  width: 700px;
  // background-color:$theme-color;

  .collaborators-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
    margin-top: 20px;

    img {
      width: 30px;
      margin-right: 10px;
    }

    .collaborators-title {
      margin-left: 4px;
      font-family: $theme-font;
      color: $label-color;
      font-weight: 300;
      font-size: 1.6em;
    }
  }

  .collaborators-form {
    margin-top: 50px;

    form {
      // background-color: $theme-color;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .input-group {
        width: 50%;
        height: 100px;
        position: relative;

        label {
          display: block;
          width: 100%;
          font-family: $theme-font;
          font-weight: 300;
          font-size: 1em;
          padding-top: 2px;
          padding-bottom: 2px;
          color: $label-color;

          .asterisk {
            color: $danger;
            font-weight: 300;
          }
        }

        input {
          width: 400px;
          border: 0;
          border-radius: 4px;
          background: $modal-background-color;
          font-family: $theme-font;
          font-size: 1.2em;
          color: $label-color;
          border: 2px solid $charcoal;
          font-weight: 300;
          outline: none;
        }

        input {
          padding: 7px;
        }

        .error-msg-wrapper {
          width: fit-content;
          height: 30px;
          margin-top: 5px;

          .error-msg {
            padding-left: 7px;
            padding-right: 7px;
            border-radius: 3px;
            background-color: #f52d7a31;
            color: $danger;
            font-family: $theme-font;
            font-weight: 400;
            font-size: 0.9em;
          }
        }
      }

      .check-and-add {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 25px;

        button {
          width: 160px;
          border: 0;
          font-family: $theme-font;
          font-size: 1em;
          font-weight: 500;
          background-color: $login-btn-color;
          color: $theme-color;
          padding: 6px;
          border: 3px solid $login-btn-color;
          border-radius: 4px;
          cursor: pointer;
          outline: none;
          transition: 0.4s all ease;
        }

        button:hover {
          color: $login-btn-color;
          background-color: transparent;
          border: 3px solid $login-btn-color;
          border-radius: 4px;
        }
      }
    }
  }

  .owner-details-wrapper {
    // border: 1px solid white;
	margin-top: 10px;
    padding-left: 35px;
    padding-right: 30px;
    // width: fit-content;

    .owner-detail-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
    }
    h2 {
      font-family: $theme-font;
      font-size: 1em;
      font-weight: 200;
      color: $label-color;
    }
  }

  .collaborators-list-wrapper {
    padding-left: 35px;
    padding-right: 30px;
	margin-top: 10px;
	// border: 1px solid red;

    .collaborators-list-header {
      h2 {
        font-family: $theme-font;
        font-size: 1em;
        font-weight: 200;
        margin-bottom: 7px;
        color: $label-color;
      }
    }
  }
}
