@import '../../sass/utils/colors';
@import '../../sass/utils/fonts';

.landing-page {
	// border: 2px solid white;
	scroll-behavior: smooth;

	width: 100%;
	// height: 100vh;
	background: url('../../img/landing-page-bg.svg') fixed center repeat;
	background-size: cover;

	.landing-page-content {
		.navbar {
			width: 90%;
			height: 9vh;
			position: sticky;
			top: 10px;
			margin: auto;
			// -webkit-backdrop-filter: blur(5px); /* Safari 9+ */
			// backdrop-filter: blur(5px); /* Chrome and Opera */
			// background-color: rgba(0, 0, 0, 0.041);
			z-index: 199;
			background: linear-gradient(
				103.23deg,
				rgba(108, 134, 144, 0.10) 0%,
				rgba(108, 134, 145, 0.04) 49.27%,
				rgba(108, 134, 144, 0.06) 100%
			);
			backdrop-filter: blur(
				10px
			); 
			border-left: 1px solid rgba(44, 62, 80, 0.8);
			border-top: 1px solid rgba(44, 62, 80, 0.8);
			border-right: 1px solid rgba(44, 62, 80, 0.5);
			border-bottom: 1px solid rgba(44, 62, 80, 0.5);
			border-radius: 5px;
			// Flex
			display: flex;
			justify-content: space-around;

			.right-contents,
			.left-contents {
				display: flex;
				justify-content: space-around;
				// border: 1px solid white;
				align-items: center;
			}

			.left-contents {
				width: 500px;
				.content {
					border-radius: 4px;
					width: 90px;
					padding: 5px 10px;
					// border: 1px solid orange;
					h4 {
						text-align: center;
						// border: 1px solid green;
						color: $label-color;
						font-family: $theme-font;
						font-size: 1.4em;
						font-weight: 500;
						width: 100%;
					}
					transition: 0.2s all ease;
				}

				.content:hover {
					h4{
						color: $craft-dash-green;
					}
				}
			}

			.right-contents {
				// border: 1px solid white;
				width: 400px;
				.content {
					.sign-up-btn,
					.login-btn {
						padding-top: 7px;
						padding-bottom: 7px;
						width: 150px;
						border: none;
						border-radius: 20px;
						font-family: $theme-font;
						font-size: 1em;
						font-weight: 800;
						color: $theme-color;
						cursor: pointer;
						transition: 0.2s all ease;
						border: 2px solid;
						background-color: transparent;

						&:focus {
							outline: none;
						}
					}

					.sign-up-btn {
						border-color: $signup-btn-color;
						color: $signup-btn-color;

						&:hover {
							background-color: $signup-btn-color;
							color: $theme-color;
						}
					}

					.login-btn {
						border-color: $login-btn-color;
						color: $login-btn-color;

						&:hover {
							background-color: $login-btn-color;
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}
