@import '../../../sass/utils/colors';
@import '../../../sass/utils/fonts';

.login {
	overflow-y: hidden;
	background: url('../../../img/landing-page-bg.svg') fixed center repeat;
	background-size: cover;
	// border: 1px solid white;
	height: 100vh;
	form {
		// border: 1px solid white;
		width: fit-content;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin: auto;
		margin-top: 50px;
		background: linear-gradient(
			103.23deg,
			rgba(108, 134, 144, 0.1) 0%,
			rgba(108, 134, 145, 0.04) 49.27%,
			rgba(108, 134, 144, 0.06) 100%
		);
		backdrop-filter: blur(10px);
		border-left: 1px solid rgba(44, 62, 80, 0.8);
		border-top: 1px solid rgba(44, 62, 80, 0.8);
		border-right: 1px solid rgba(44, 62, 80, 0.5);
		border-bottom: 1px solid rgba(44, 62, 80, 0.5);
		border-radius: 10px;
		.row-2 {
			margin-top: 30px;
		}

		.row-3 {
			margin-top: 40px;
			text-align: center;

			#submit-btn {
				width: 400px;
				border: 0;
				border-radius: 5px;
				background-color: transparent;
				border: 2px solid $login-btn-color;
				font-family: $theme-font;
				font-weight: 500;
				font-size: 1em;
				color: $login-btn-color;
				cursor: pointer;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-top: 5px;
				transition: 0.4s linear;
				outline: none;

				&:hover {
					background-color: $login-btn-color;
					color: $theme-color;
					border-radius: 10px;
					font-weight: 500;
				}

				&:focus {
					outline: none;
				}
			}
		}

		.row-4 {
			text-align: center;

			p {
				margin-top: 20px;
				font-family: $theme-font;
				color: $label-color;
				font-size: 0.9em;
				font-weight: 200;

				span.register-link {
					color: $signup-btn-color;
					font-weight: 300;
				}
			}
		}

		.row-5 {
			text-align: center;
			p {
				margin-top: 20px;
				font-family: $theme-font;
				font-size: 0.9em;
				color: $login-btn-color;
				font-weight: 250;
			}
		}

		.row-6 {
			margin-top: 50px;
			width: 400px;
			margin: auto;

			.social-login {
				margin-top: 15px;
				justify-content: space-around;
				align-items: center;

				.google-button,
				.facebook-button {
					cursor: pointer;
				}

				.google-button {
					outline: none;
					align-items: center;
					justify-content: space-evenly;
					display: flex;
					width: 400px;
					background-color: $theme-color;
					border: 3px solid $reg-input-box-color;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: 5px;
					transition: 0.6s linear;
					img {
						width: 24px;
						margin-left: -100px;
						// margin-left: 5px;
					}
					p {
						// margin-left: 100px;
						font-family: $theme-font;
						font-size: 1.2em;
						color: $label-color;
					}

					&:focus {
						outline: none;
					}

					&:hover {
						border-left: 3px solid #fbbc05;
						border-top: 3px solid #ea4335;
						border-right: 3px solid #4285f4;
						border-bottom: 3px solid #34a853;
						border-radius: 10px;
						opacity: 0.9;
					}
				}

				.facebook-button {
					outline: none;
					margin-top: 20px;
					align-items: center;
					justify-content: space-evenly;
					width: 400px;
					background-color: $theme-color;
					border: 3px solid $reg-input-box-color;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: 5px;
					transition: 0.4s all linear;
					display: none;
					img {
						width: 24px;
						margin-left: -80px;
						// margin-left: 5px;
					}
					p {
						// margin-left: 100px;
						font-family: $theme-font;
						font-size: 1.2em;
						color: $label-color;
					}

					&:focus {
						outline: none;
					}

					&:hover {
						border: 3px solid #1877f2;
						opacity: 0.9;
						border-radius: 10px;
					}
				}
			}
		}

		.input-group {
			margin: auto;
			width: fit-content;
			position: relative;
			margin-top: 0px;

			label {
				display: block;
				width: 100%;
				font-family: $theme-font;
				font-weight: 200;
				font-size: 1.2em;
				font-size: 1em;
				padding-top: 2px;
				padding-bottom: 2px;
				color: $label-color;

				.asterisk {
					color: $danger;
					font-weight: 300;
				}
			}

			input {
				width: 400px;
				border: 0;
				border-radius: 4px;
				background: $modal-background-color;
				font-family: $theme-font;
				font-size: 1.2em;
				color: $label-color;
				font-weight: 300;
				border: 2px solid $charcoal;
				// padding
				padding: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				outline: none;
			}

			.error-msg-wrapper {
				width: fit-content;
				height: 30px;
				margin-top: 5px;

				.error-msg {
					padding-left: 7px;
					padding-right: 7px;
					border-radius: 3px;
					background-color: #f52d7a31;
					color: $danger;
					font-family: $theme-font;
					font-weight: 400;
					font-size: 0.9em;
				}
			}
		}
	}
}
