@import "../../sass/utils/colors";
@import "../../sass/utils/fonts";

.dashboard {
  // border: 1px solid white;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../../img/dash-board-bg-pattern.svg") fixed center no-repeat;
  background-size: cover;
  .top-nav {
    position: absolute;
    width: 1000px;
    height: 10vh;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid #323232;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .brand-logo-wrapper {
      width: 170px;
    }

    .add-btn {
      width: 170px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        border-radius: 10px;
        padding: 10px;
        width: 50px;
        transition: 0.2s all ease;
      }

      cursor: pointer;
      transition: 0.4s all ease;
    }

    .add-btn:hover {
      img {
        background-color: $charcoal;
      }
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 170px;
      height: 70px;
    }
  }

  .dashboard-title {
    position: absolute;
    width: 1000px;
    top: 15vh;
    left: 50%;
    transform: translateX(-5%);
    height: 4vh;

    h1 {
      width: fit-content;
      font-family: $theme-font;
      font-weight: 200;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: $label-color;
      border: 3px solid $craft-dash-pink;
    }
  }

  .dashboard-cards-wrapper {
    // border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 1080px;
    top: 20vh;
    left: 50%;
    // height: 86vh;
    height: 80vh;
    transform: translateX(-50%);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    // background: linear-gradient(
    // 		103.23deg,
    // 		rgba(108, 134, 144, 0.10) 0%,
    // 		rgba(108, 134, 145, 0.04) 49.27%,
    // 		rgba(108, 134, 144, 0.06) 100%
    // 	);
    // 	backdrop-filter: blur(
    // 		10px
    // 	); /* Note: backdrop-filter has minimal browser support */
    // 	border-left: 2px solid #1f2a31;
    // 	border-top: 2px solid #1f2a31;
    // 	border-right: 1px solid #27292e;
    // 	border-bottom: 1px solid #27292e;
    // 	border-radius: 10px;
  }

  .rodal-bg-blur {
    background: linear-gradient(
      103.23deg,
      rgba(108, 134, 144, 0.1) 0%,
      rgba(108, 134, 145, 0.04) 49.27%,
      rgba(108, 134, 144, 0.06) 100%
    );
    backdrop-filter: blur(10px);
  }

  // .collaborators-modal {

  // 	outline: none;
  // }

  // .dashboard-cards-wrapper

  /* width */
  .dashboard-cards-wrapper::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .dashboard-cards-wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 10px;
  }

  /* Handle */
  .dashboard-cards-wrapper::-webkit-scrollbar-thumb {
    background: #29e4968e;
    // background: $charcoal;
    border-radius: 10px;
  }

  /* Handle on hover */
  .dashboard-cards-wrapper::-webkit-scrollbar-thumb:hover {
    // background: #0cff9a;
    background: $craft-dash-green;
  }

  // 💄  Styles for 'Create New IdeaBoard'
  .ideaboard-modal {
    // background-color: #1F2023;
    .ideaboard-header {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      margin-top: 20px;

      img {
        width: 30px;
        margin-right: 10px;
      }

      .ideaboard-title {
        margin-left: 4px;
        font-family: $theme-font;
        color: $label-color;
        font-weight: 300;
        font-size: 1.2em;
      }
    }

    .input-group {
      width: fit-content;
      margin: auto;
      position: relative;
      margin-top: 20px;

      label {
        display: block;
        width: 100%;
        font-family: $theme-font;
        font-weight: 300;
        font-size: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
        color: $label-color;
        margin-bottom: 5px;
        .asterisk {
          color: $danger;
          font-weight: 300;
        }
      }

      input,
      textarea {
        width: 300px;
        border: 0;
        border-radius: 4px;
        background: $theme-color;
        font-family: $theme-font;
        font-size: 1.2em;
        color: $label-color;
        border: 2px solid $charcoal;
        font-weight: 300;
        outline: none;
      }

      input {
        // padding
        padding: 7px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
      }

      textarea {
        padding: 4px;
        padding-left: 7px;
        height: 100px;
        resize: none;
      }

      .error-msg-wrapper {
        width: fit-content;
        height: 30px;
        margin-top: 5px;

        .error-msg {
          padding-left: 7px;
          padding-right: 7px;
          border-radius: 3px;
          background-color: #f52d7a31;
          color: $danger;
          font-family: $theme-font;
          font-weight: 400;
          font-size: 0.9em;
        }
      }
    }

    .create-btn {
      width: fit-content;
      margin: auto;
      margin-top: 20px;

      .create-success-msg {
        font-family: $theme-font;
        width: fit-content;
        margin: auto;
        color: $login-btn-color;
      }

      button {
        border: 0;
        border: 3px solid $login-btn-color;
        border-radius: 5px;
        width: 300px;
        font-family: $theme-font;
        font-size: 1em;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $login-btn-color;
        color: $theme-color;
        cursor: pointer;
        outline: none;
        transition: 0.2s all ease;
      }

      button:hover {
        border: 3px solid $login-btn-color;
        background-color: transparent;
        color: $login-btn-color;
      }
    }
  }

  .delete-modal {
    width: 100%;

    h2 {
      width: 90%;
      margin: auto;
      font-family: $theme-font;
      font-size: 1.3em;
      font-weight: 300;
      color: $label-color;
      margin-top: 20px;
    }

    .post-delete {
      width: fit-content;
      margin: auto;
      margin-top: 70px;
    }

    .yn {
      margin-top: 30px;

      div {
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
          width: 150px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-family: $theme-font;
          font-size: 1.2em;
          color: $theme-color;
          border: 0;
          border-radius: 3px;
          border: 1px solid transparent;
          transition: 0.2s all ease;
          cursor: pointer;
          background-color: transparent;
          outline: none;
        }

        .yes {
          background-color: rgba(255, 46, 66, 0.6);
          backdrop-filter: blur(10px);
          border: 3px solid $danger;
          font-weight: 600;
          border-radius: 5px;
          color: $theme-color;
        }

        .no {
          background-color: rgba(63, 222, 156, 0.6);
          backdrop-filter: blur(10px);
          border: 3px solid $login-btn-color;
          font-weight: 600;
          border-radius: 5px;
          color: $theme-color;
        }

        .yes:hover {
          color: $theme-color;
          background-color: rgba(255, 46, 66, 1);
        }

        .no:hover {
          color: $theme-color;
          background-color: rgba(63, 222, 156, 1);
        }
      }
    }
  }
}


.dashboard-light {
  // border: 1px solid white;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../../img/dash-board-bg-pattern-light.svg") fixed center no-repeat;
  background-color: $theme-color-light;
  background-size: cover;
  .top-nav-light {
    position: absolute;
    width: 1000px;
    height: 10vh;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid $theme-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .brand-logo-wrapper-light {
      width: 170px;
    }

    .add-btn-light {
      width: 170px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        border-radius: 10px;
        padding: 10px;
        width: 50px;
        transition: 0.2s all ease;
      }

      cursor: pointer;
      transition: 0.4s all ease;
    }

    .add-btn-light:hover {
      img {
        background-color: rgba(255, 45, 146, 0.2);
      }
    }

    .user-wrapper-light {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 170px;
      height: 70px;
    }
  }

  .dashboard-title-light {
    position: absolute;
    width: 1000px;
    top: 15vh;
    left: 50%;
    transform: translateX(-5%);
    height: 4vh;

    h1 {
      width: fit-content;
      font-family: $theme-font;
      font-weight: 500;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: $theme-color;
	  backdrop-filter: blur(5px);
      border: 3px solid $craft-dash-pink;
    }
  }

  .dashboard-cards-wrapper-light {
    // border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 1080px;
    top: 20vh;
    left: 50%;
    // height: 86vh;
    height: 80vh;
    transform: translateX(-50%);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    // background: linear-gradient(
    // 		103.23deg,
    // 		rgba(108, 134, 144, 0.10) 0%,
    // 		rgba(108, 134, 145, 0.04) 49.27%,
    // 		rgba(108, 134, 144, 0.06) 100%
    // 	);
    // 	backdrop-filter: blur(
    // 		10px
    // 	); /* Note: backdrop-filter has minimal browser support */
    // 	border-left: 2px solid #1f2a31;
    // 	border-top: 2px solid #1f2a31;
    // 	border-right: 1px solid #27292e;
    // 	border-bottom: 1px solid #27292e;
    // 	border-radius: 10px;
  }

  .rodal-bg-blur-light {
    background: linear-gradient(
      103.23deg,
      rgba(108, 134, 144, 0.1) 0%,
      rgba(108, 134, 145, 0.04) 49.27%,
      rgba(108, 134, 144, 0.06) 100%
    );
    backdrop-filter: blur(10px);
  }

  // .collaborators-modal {

  // 	outline: none;
  // }

  // .dashboard-cards-wrapper

  /* width */
  .dashboard-cards-wrapper-light::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .dashboard-cards-wrapper-light::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 10px;
  }

  /* Handle */
  .dashboard-cards-wrapper-light::-webkit-scrollbar-thumb{
    background: #29e4968e;
    // background: $charcoal;
    border-radius: 10px;
  }

  /* Handle on hover */
  .dashboard-cards-wrapper-light::-webkit-scrollbar-thumb:hover {
    // background: #0cff9a;
    background: $craft-dash-green;
  }

  // 💄  Styles for 'Create New IdeaBoard'
  .ideaboard-modal-light {
    // background-color: #1F2023;
    .ideaboard-header-light {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      margin-top: 20px;

      img {
        width: 30px;
        margin-right: 10px;
      }

      .ideaboard-title-light {
        margin-left: 4px;
        font-family: $theme-font;
        color: $theme-color;
        font-weight: 500;
        font-size: 1.2em;
      }
    }

    .input-group-light {
      width: fit-content;
      margin: auto;
      position: relative;
      margin-top: 20px;

      label {
        display: block;
        width: 100%;
        font-family: $theme-font;
        font-weight: 500;
        font-size: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
        color: $theme-color;
        margin-bottom: 5px;
        .asterisk {
          color: $danger;
          font-weight: 300;
        }
      }

      input,
      textarea {
        width: 300px;
        border: 0;
        border-radius: 4px;
        background: $label-color;
        font-family: $theme-font;
        font-size: 1.2em;
        color: $theme-color;
        border: 3px solid $theme-color;
        font-weight: 300;
        outline: none;
      }

      input {
        // padding
        padding: 7px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
      }

      textarea {
        padding: 4px;
        padding-left: 7px;
        height: 100px;
        resize: none;
      }

      .error-msg-wrapper-light {
        width: fit-content;
        height: 30px;
        margin-top: 5px;

        .error-msg-light {
          padding-left: 7px;
          padding-right: 7px;
          border-radius: 3px;
          background-color: #f52d7a31;
          color: $danger;
          font-family: $theme-font;
          font-weight: 400;
          font-size: 0.9em;
        }
      }
    }

    .create-btn-light {
      width: fit-content;
      margin: auto;
      margin-top: 20px;

      .create-success-msg-light {
        font-family: $theme-font;
        width: fit-content;
        margin: auto;
        color: $login-btn-color;
      }

      button {
        border: 0;
        border: 3px solid $login-btn-color;
        border-radius: 5px;
        width: 300px;
        font-family: $theme-font;
        font-size: 1em;
        font-weight: 500;
		// letter-spacing: 3;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $login-btn-color;
        color: $theme-color;
        cursor: pointer;
        outline: none;
        transition: 0.2s all ease;
      }

      button:hover {
        border: 3px solid $craft-dash-green;
        background-color: $label-color;
        color: $theme-color;
      }
    }
  }

  .delete-modal-light {
    width: 100%;

    h2 {
      width: 90%;
      margin: auto;
      font-family: $theme-font;
      font-size: 1.3em;
      font-weight: 300;
      color: $label-color;
      margin-top: 20px;
    }

    .post-delete-light {
      width: fit-content;
      margin: auto;
      margin-top: 70px;
    }

    .yn-light {
      margin-top: 30px;

      div {
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
          width: 150px;
          padding-top: 5px;
          padding-bottom: 5px;
          font-family: $theme-font;
          font-size: 1.2em;
          color: $theme-color;
          border: 0;
          border-radius: 3px;
          border: 1px solid transparent;
          transition: 0.2s all ease;
          cursor: pointer;
          background-color: transparent;
          outline: none;
        }

        .yes-light {
          background-color: rgba(255, 46, 66, 0.6);
          backdrop-filter: blur(10px);
          border: 3px solid $danger;
          font-weight: 600;
          border-radius: 5px;
          color: $theme-color;
        }

        .no-light {
          background-color: rgba(63, 222, 156, 0.6);
          backdrop-filter: blur(10px);
          border: 3px solid $login-btn-color;
          font-weight: 600;
          border-radius: 5px;
          color: $theme-color;
        }

        .yes-light:hover {
          color: $theme-color;
          background-color: rgba(255, 46, 66, 1);
        }

        .no-light:hover {
          color: $theme-color;
          background-color: rgba(63, 222, 156, 1);
        }
      }
    }
  }
}
