$theme-color: #282C34;

$brand-text-color: #ffffff;
$label-color: #C4C4C4;

$login-btn-color: #08E789;
$signup-btn-color: #2FDAE4;

$reg-input-box-color: #212429;

$placeholder-label-color: #656161;
$footnote-text-color: #CFCFCF;

$modal-background-color: #535353;
$modal-field-color: rgb(224, 224, 224);

$top-nav-color: #212429;

$card-main-color: #404349;
$card-footer-color: #323439;

$main-board-color: #1D2026;
$message-box: #282C34;
$top-nav-color: #212429;


$danger: #ec045d;