// $theme-color: #282C34;
$theme-color: #121317;


$brand-text-color: #ffffff;
$label-color: #EAECEF;

// $login-btn-color: #08E789;
$login-btn-color: #3FDE9C;
// $signup-btn-color: #2FDAE4;
$signup-btn-color: #FF2D92;

// $reg-input-box-color: #212429;
$reg-input-box-color: #282C34;
$input-box-color: #282C34;

$charcoal: #2C3E50;
$craft-dash-red: #FC5364;
$craft-dash-pink: #FF2D92;
$craft-dash-green:  #3FDE9C;
$craft-dash-blue: #2FDAE4;
$craft-dash-purple: #C521FF;
$modal-background-color: #1F2023;

$placeholder-label-color: #656161;
$footnote-text-color: #CFCFCF;

// $modal-background-color: #535353;
$modal-field-color: rgb(224, 224, 224);

$top-nav-color: #121317;

$card-main-color: #404349;
$card-footer-color: #323439;

$main-board-color: #1D2026;
$message-box: #282C34;
$top-nav-color: #212429;

$danger: #ec045d;