// $theme-color: #282C34;
$theme-color: #121317;
$theme-color-light: #fefdfe;

$brand-text-color: #ffffff;
$label-color: #eaecef;

// $login-btn-color: #08E789;
$login-btn-color: #3fde9c;
// $signup-btn-color: #2FDAE4;
$signup-btn-color: #ff2d92;

// $reg-input-box-color: #212429;
$reg-input-box-color: #282c34;
$input-box-color: #282c34;

$charcoal: #2c3e50;
$craft-dash-red: #fc5364;
$craft-dash-pink: #ff2d92;
$craft-dash-green: #3fde9c;
$craft-dash-blue: #2fdae4;
$craft-dash-purple: #c521ff;
$modal-background-color: #1f2023;

$placeholder-label-color: #656161;
$footnote-text-color: #cfcfcf;

// $modal-background-color: #535353;
$modal-field-color: rgb(224, 224, 224);

$top-nav-color: #121317;

$card-main-color: #404349;
$card-footer-color: #323439;

$main-board-color: #1d2026;
$message-box: #282c34;
$top-nav-color: #212429;

$danger: #ff2e42;
$gunmetal: #282c34;
