@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.register {
  overflow-y: hidden;
  background: url("../../../img/landing-page-bg.svg") fixed center repeat;
  background-size: cover;
  // border: 1px solid white;
  height: 100vh;
  form {
    width: 800px;
    margin: auto;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: linear-gradient(
      103.23deg,
      rgba(108, 134, 144, 0.1) 0%,
      rgba(108, 134, 145, 0.04) 49.27%,
      rgba(108, 134, 144, 0.06) 100%
    );
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(234, 236, 239, 0.3);
    border-top: 1px solid rgba(234, 236, 239, 0.3);
    border-right: 1px solid rgba(234, 236, 239, 0.2);
    border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    border-radius: 10px;
    .row-1 {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .row-2 {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .row-3 {
      display: flex;
      .avatars-wrapper {
        margin-left: 25px;
        width: 100%;

        .avatars-header {
          width: fit-content;
          margin: auto;
          color: $label-color;
          font-family: $theme-font;
          font-weight: 100;

          .asterik {
            color: $danger;
            font-weight: 300;
          }
        }

        .avatars-content {
          margin: auto;
          width: fit-content;
          margin-top: 15px;
          .avatars-row1 {
            display: flex;
            img {
              margin-left: 20px;
              margin-right: 20px;
              width: 65px;
              border-radius: 50%;
              transition: 0.3s linear;
            }
            img:hover {
              // margin-bottom: 5px;
              // margin-left: 15px;
              // margin-right: 15px;
              // border: 3px solid $label-color;
              border-radius: 50%;
              transform: scale(1.2);
            }
          }
          .avatars-row2 {
            margin-top: 10px;
            display: flex;
            img {
              margin-left: 20px;
              margin-right: 20px;
              width: 65px;
              border-radius: 50%;
              transition: 0.3s ease-in-out;
            }
            img:hover {
              // margin-top: 15px;
              // margin-left: 15px;
              // margin-right: 15px;
              // border: 3px solid $label-color;
              border-radius: 50%;
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .row-4 {
      text-align: center;

      #submit-btn {
        width: 450px;
        border: 0;
        border-radius: 4px;
        background-color: $signup-btn-color;
        border: 1px solid $signup-btn-color;
        font-family: $theme-font;
        font-weight: 600;
        font-size: 1em;
        color: $theme-color;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        transition: 0.3s all ease-in;
        outline: none;

        &:hover {
			border-radius: 10px;
          color: $signup-btn-color;
          background-color: rgba(255, 45, 146, 0.2);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .row-5 {
      text-align: center;

      p {
        margin-top: 20px;
        font-family: $theme-font;
        color: $label-color;
        font-size: 0.9em;
        font-weight: 200;

        span.login-link {
          color: $login-btn-color;
          font-weight: 300;
        }
      }
    }

    .input-group {
      position: relative;
      margin-top: 20px;

      label {
        display: block;
        width: 100%;
        font-family: $theme-font;
        font-weight: 200;
        font-size: 1.2em;
        font-size: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
        color: $label-color;

        .asterisk {
          color: $danger;
          font-weight: 300;
        }
      }

      input {
        width: 370px;
        border: 0;
        border-radius: 4px;
        background: $reg-input-box-color;
        font-family: $theme-font;
        font-size: 1.2em;
        color: #ffffff;
        font-weight: 40;
        // padding
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
      }

      .error-msg-wrapper {
        width: fit-content;
        height: 30px;
        margin-top: 5px;

        .error-msg {
          padding-left: 7px;
          padding-right: 7px;
          border-radius: 3px;
          background-color: #f52d7a31;
          color: $danger;
          font-family: $theme-font;
          font-weight: 400;
          font-size: 0.9em;
        }
      }
    }
  }
}
