@import './utils/colors';
@import './utils/fonts';

.dashboard {
    .top-nav {
        position: absolute;
        width: 1366px;
        height: 10vh;
        left: 50%;
        transform: translate(-50%);

        display: flex;
        align-items: center;
        justify-content: space-around;

        .brand-logo-wrapper {
            width: 170px;
        }

        .add-btn {
            width: 170px;
            height: 50px;

            display: flex;
            align-items: center;
            justify-content: space-around;


            img {
                border-radius: 10px;
                padding: 10px;
                width: 50px;
                transition: .2s all ease
            }

            cursor: pointer;
            transition: .4s all ease;
        }

        .add-btn:hover {
            img {
                background-color: #ffffff2a;
            }
        }

        .user-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 170px;
            height: 70px;
        }
    }

    .dashboard-cards-wrapper {
        position: absolute;
        width: 1080px;
        top: 10vh;
        left: 50%;
        height: 90vh;
        transform: translateX(-50%);

    }

    .ideaboard-modal {
        .ideaboard-header {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
            margin-top: 20px;

            img {
                width: 30px;
            }

            .ideaboard-title {
                margin-left: 4px;
                font-family: $theme-font;
                font-weight: 300;
                font-size: 1.2em;
            }
        }

        .input-group {
            width: fit-content;
            margin: auto;
            position: relative;
            margin-top: 20px;

            label {
                display: block;
                width: 100%;
                font-family: $theme-font;
                font-weight: 300;
                font-size: 1em;
                padding-top: 2px;
                padding-bottom: 2px;
                color: $theme-color;

                .asterisk {
                    color: $danger;
                    font-weight: 300;
                }
            }

            input,
            textarea {
                width: 300px;
                border: 0;
                border-radius: 4px;
                background: $modal-field-color;
                font-family: $theme-font;
                font-size: 1.2em;
                color: $top-nav-color;
                font-weight: 300;
                outline: none;
            }

            input {
                // padding
                padding: 7px;
                padding-top: 10px;
                padding-bottom: 10px;
                outline: none;
            }

            textarea {
                padding: 4px;
                padding-left: 7px;
                height: 100px;
                resize: none;
            }

            .error-msg-wrapper {
                width: fit-content;
                height: 30px;
                margin-top: 5px;

                .error-msg {
                    padding-left: 7px;
                    padding-right: 7px;
                    border-radius: 3px;
                    background-color: #f52d7a31;
                    color: $danger;
                    font-family: $theme-font;
                    font-weight: 400;
                    font-size: 0.9em;
                }
            }
        }

        .create-btn {
            width: fit-content;
            margin: auto;
            margin-top: 20px;

            button {
                border: 0;
                border: 1px solid #0087cc;
                border-radius: 4px;
                width: 300px;
                font-family: $theme-font;
                font-size: 1em;
                font-weight: 300;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: transparent;
                color: #0087cc;
                cursor: pointer;
                outline: none;
                transition: .2s all ease;
            }

            button:hover {
                background-color: #0087cc;
                color: #ffffff;
            }
        }
    }
}