@import "./utils/colors";
@import "./utils/fonts";

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-around;
}

@mixin button-style($color) {
  width: 100%;
  border: 0;
  border: 1px solid $color;
  border-radius: 5px;
  color: $color;
  background-color: transparent;
  font-family: $theme-font;
  font-weight: 200;
  font-size: 1em;
  padding: 4px;
  cursor: pointer;

  &:hover {
    font-weight: 400;
  }
}

.edit-sidebar {
  // border: 1px solid white;
  overflow: hidden;
  position: absolute;
  width: 20vw;
  top: 7vh;
  height: 93vh;
  right: 0;
  background-color: $theme-color;

  font-family: $theme-font;

  .edit-sidebar-wrapper {
    // border: 1px solid green;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 100%;

    .edit-group {
      // border: 1px solid yellow;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;

      .field-label {
        // border: 1px solid #0087cc;
        font-size: 1em;
        font-weight: 200;
      }

      .field-content-wrapper {
        background-color: $input-box-color;
        border-radius: 4px;
        border: 2px solid $charcoal;

        .field-content {
          width: fit-content;
          height: 30px;
          margin: auto;
          font-size: 1em;
          font-weight: 200;
          color: white;
        }

        .field-content-textarea{
          padding: 5px;
          height: 120px;
          font-family: $theme-font;
          font-size: 1em;
          font-weight: 200;
          color: white;
          background-color: transparent;
          resize: none;
          border: none;
          outline: none;
          width: 100%;
        }
      }

      .field-label,
      .field-content-wrapper {
        padding: 3px;
      }
    }

    .el-id {
      .edit-group {
        .field-content-wrapper {
          .field-content {
            display: flex;
            align-items: center;
            font-size: 0.64em;
          }
        }
      }
    }

    .co {
      @include flex-center("row");
      margin-top: 50px;

      .x-co,
      .y-co {
        width: 50%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .fg-bg {
      height: 80px;
      margin-top: 50px;

      .edit-group:nth-child(2) {
        margin-top: 10px;
      }
    }

    .text {
      margin-top: 20px;

      .edit-group {
        flex-direction: column;

        .field-content {
          width: 100%;
          height: 100%;
          padding: 4px;
          height: 70px;
        }
      }
    }

    .edit-update-btn {
      margin-top: 5px;
      width: 100%;
      

      button {
        width: fit-content;
        border: 0;
        background-color: transparent;
        font-size: 1em;
        border: 3px solid $login-btn-color;
        padding: 4px;
        border-radius: 5px;
        outline: none;
      }
    }

    .emoji-picker{
      margin-top: 10px;
      width: 280px;
      height: 440px;
      position: absolute;
      z-index: 199;
    }

    .edit-remove-btn {
      margin-top: 30px;

      button {
        @include button-style($craft-dash-red);
        border: 3px solid;
        border-radius: 5px;
        font-family: $theme-font;
        font-weight: 300;
        color: $craft-dash-red;
      }
    }
  }
}