@import './utils/colors';
@import './utils/fonts';

.main-board {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 80vw;
    height: 95vh;

    background-color: $main-board-color;

    .circle {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: red;
    }

    .mini-map {
        opacity: .4;
    }

    // .my-graph {
    //     .main-controls {
    //         transform: scale(1.5);
    //     }

    // }
}