@import "./utils/colors";
@import "./utils/fonts";

.main-board {

    position: absolute;
    top: 5vh;
    left: 0;
    width: 80vw;
    height: 95vh;
    overflow: hidden;

    .react-flow-main {
        // border: 1px solid white;
    }

    background-color: $main-board-color;

    .circle {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: red;
    }

    .mini-map {
        opacity: 0.4;
        transform: scale(0.8);
    }

    .main-controls-plugin {
        transform: scale(1.5);
        margin-bottom: 20px;
    }

    .main-node-controls {
        position: absolute;
        bottom: 5px;
        left: 50%;
        height: 35px;
        display: flex;
        align-items: center;
        transform: translateX(-50%);
        z-index: 99;

        .node-text-input {
            border: 0;
            border: 2px solid black;
            padding-top: 5px;
            padding-left: 4px;
            padding-right: 4px;
            width: 300px;
            font-family: $theme-font;
            font-size: 1em;
            border-radius: 3px;
            margin-left: 35px;
            outline: none;
            color: white;
            background-color: $theme-color;
        }

        .add-node {
            margin-left: 20px;
            border: 0;
            font-family: $theme-font;
            font-size: 1em;
            width: 100px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            cursor: pointer;
            color: white;
            background-color: #0087cc;
        }
    }
}