@import "./utils/colors";
@import "./utils/fonts";

.top-nav-main {
  position: absolute;
  width: 80vw;
  height: 5vh;
  top: 0;
  left: 0;
  background-color: $theme-color;

  .brand-logo-wrapper {
    width: 130px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
