@import './utils/colors';
@import './utils/fonts';

.user {

    .user-pic {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .pic {
            padding: 4px;
            width: 60px;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid $top-nav-color;
            transition: .2s all ease;
        }

        .pic:hover {
            border: 2px solid $danger;
        }

        h5 {
            margin-left: 20px;
            font-family: $theme-font;
            color: #ffffff;
            font-weight: 300;
            cursor: pointer;
        }


    }
}