@import '../../sass/utils/colors';
@import '../../sass/utils/fonts';

.main {
	background: linear-gradient(
      179.33deg,
      #121317 0.6%,
      #121317 7.19%,
      #121318 13.79%,
      #121318 20.38%,
      #111319 26.97%,
      #11141b 33.56%,
      #11141c 40.15%,
      #10141e 46.74%,
      #10151f 53.33%,
      #0f1521 59.92%,
      #0f1523 66.51%,
      #0f1624 73.1%,
      #0f1625 79.69%,
      #0e1626 86.28%,
      #0e1626 92.87%,
      #0e1626 99.46%
    );
	.video-chat-wrapper {
		position: absolute;
		top: 5vh;
		width: 130px;
		height: 450px;
	}

	.sidebar-main {
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		width: 20vw;

		.sidebar-top-nav {
			position: absolute;
			width: 100%;
			height: 7vh;

			display: flex;
			justify-content: space-around;

			.message-nav-wrapper,
			.edit-tool-nav-wrapper {
				padding-right: 12px;
				padding-left: 12px;
				border: 1px solid transparent;

				img {
					margin-top: 5px;
					border-radius: 50%;
					width: 40px;
				}

				transition: 0.3s all ease;
			}

			.message-nav-wrapper {
				width: fit-content;
				height: 7vh;
				cursor: pointer;

				img {
					width: 40px;
				}
			}

			.edit-tool-nav-wrapper {
				width: fit-content;
				height: 7vh;
				cursor: pointer;

				img {
					background-color: #212429;
					padding: 5px;
				}
			}
		}

		.sidebar-body {
			// border: 1px solid yellow;
			position: absolute;
			width: 100%;
			top: 7vh;
			height: 93vh;
		}
	}
}
