@import '../../sass/utils/colors';
@import '../../sass/utils/fonts';

.user {
	.user-pic {
		display: flex;
		align-items: center;
		justify-content: space-around;

		img {
			padding: 4px;
			width: 60px;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid $charcoal;
			transition: 0.2s all ease;
		}

		img:hover {
			border-top: 3px solid $craft-dash-pink;
			border-bottom: 3px solid $craft-dash-purple;
			border-right: 3px solid $craft-dash-green;
			border-left: 3px solid $craft-dash-blue;
			backdrop-filter: blur(10px);
		}

		h5 {
			margin-left: 20px;
			font-family: $theme-font;
			color: #ffffff;
			font-weight: 300;
			cursor: pointer;
		}
	}
}
