@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.main-board-light {
  // background: linear-gradient(
  //   179.33deg,
  //   #121317 0.6%,
  //   #121317 7.19%,
  //   #121318 13.79%,
  //   #121318 20.38%,
  //   #111319 26.97%,
  //   #11141b 33.56%,
  //   #11141c 40.15%,
  //   #10141e 46.74%,
  //   #10151f 53.33%,
  //   #0f1521 59.92%,
  //   #0f1523 66.51%,
  //   #0f1624 73.1%,
  //   #0f1625 79.69%,
  //   #0e1626 86.28%,
  //   #0e1626 92.87%,
  //   #0e1626 99.46%
  // );
  // background-color: $label-color;
  position: absolute;
  top: 7vh;
  left: 0;
  width: 80vw;
  height: 93vh;
  overflow: hidden;

  .react-flow-main-light {
    .circle-pointer-light {
      border: 2px solid black;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: black;
      position: absolute;
    }
    // border: 1px solid white;
    background-color: $label-color;
  }


  .circle-light {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
  }

  .mini-map-light {
    background-color: $theme-color;
    opacity: 0.4;
    transform: scale(0.8);
  }

  .main-controls-plugin-light {
    width: fit-content;
    // border: 1px solid red;
    transform: scale(1.5);
    margin-bottom: 30px;
    position: absolute;
    left: 1000px;
    bottom: 20px;
  }

  .main-node-controls-light {
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    z-index: 99;

    .node-text-input-light {
      margin-bottom: 10px;
      border: 0;
      border: 2px solid $theme-color;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 4px;
      padding-right: 4px;
      width: 300px;
      font-family: $theme-font;
      font-size: 1em;
      border-radius: 3px;
      margin-left: 35px;
      outline: none;
      color: $theme-color;
      background-color: $theme-color-light;
    }

    .add-node-light {
      margin-left: 20px;
      margin-bottom: 10px;
      border: 0;
      font-family: $theme-font;
      font-size: 1em;
      font-weight: 800;
      width: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      cursor: pointer;
      color: $theme-color;
      background-color: $login-btn-color;
    }

    .voice-note-light {
      // border: 1px solid white;
      height: 100%;
      width: 40px;
      margin-bottom: 10px;
      margin-left: 20px;
      cursor: pointer;

      &:hover {
        content: url("../../../img/recording-hover.svg");
      }
    }
  }
}

.peer-pointer-light {
  width: fit-content;
  img {
    width: 20px;
  }

  .peer-email-light {
    // border: 1px solid white;
    margin: auto;
    margin-left: 15px;
    font-family: $theme-font;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 5px;
    font-weight: 500;
    color: $label-color;
    width: fit-content;
    // color: $theme-color;
    font-weight: 600;
  }
}

.main-rodal-bg-blur-light {
  background: linear-gradient(
    103.23deg,
    rgba(108, 134, 144, 0.1) 0%,
    rgba(108, 134, 145, 0.04) 49.27%,
    rgba(108, 134, 144, 0.06) 100%
  );
  backdrop-filter: blur(10px);

  .recorder-header {
    width: fit-content;
    margin: auto;
    // border: 1px solid white;
    display: flex;
    align-items: center;

    img {
      width: 60px;
    }
    h2 {
      color: $theme-color;
      font-family: $theme-font;
      font-weight: 500;
    }
  }
  .react-media-recorder-wrapper {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;

    .recording-status-wrapper-light {
      // border: 1px solid white;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      .recording-status {
        color: white;
        font-family: $theme-font;

        audio {
          display: block;
        }

        img {
          margin-top: 21px;
          margin-right: 40px;
          width: 50px;
          // border: 1px solid white;
        }
      }
    }

    .react-media-recorder-light {
      width: fit-content;
      margin: auto;
      //   border: 1px solid white;
      outline: none;
      width: 300px;
      margin-top: 20px;
      margin-left: 10px;
    }

    .recorder-button-wrapper-light {
      display: flex;
      width: fit-content;
      margin: auto;
      margin-top: 30px;
      //   border: 1px solid yellow;

      #recording-start-light {
        outline: none;
        display: flex;
        background-color: $craft-dash-red;
        align-items: center;
        width: 230px;
        height: 40px;
        border: 3px solid $craft-dash-red;
        border-radius: 5px;
        font-family: $theme-font;
        font-weight: 600;
        font-size: 1em;
        margin-right: 10px;
        img {
          margin-left: 20px;
          margin-right: 10px;
          width: 20px;
        }

        &:hover {
          background-color: rgba(252, 83, 100, 0.5);
          color: $craft-dash-red;
          font-weight: 600;
          img {
            content: url("../../../img/start-recording-icon-hover.png");
          }
        }
      }
      #recording-stop-light {
        outline: none;
        display: flex;
        background-color: #ff2e42;
        align-items: center;
        width: 200px;
        height: 40px;
        border: 3px solid #ff2e42;
        border-radius: 5px;
        font-family: $theme-font;
        font-weight: 600;
        font-size: 1em;

        img {
          margin-left: 20px;
          margin-right: 10px;
          width: 20px;
        }
        &:hover {
          background-color: rgba(255, 46, 66, 0.5);
          color: #ff2e42;
          font-weight: 600;
          img {
            content: url("../../../img/stop-recording-icon-hover.png");
          }
        }
      }
    }
  }

  .view-file-info-modal-light {
    .file-preview-light {
      background-color: $theme-color-light;
      width: 600px;
      position: absolute;
      left: 15px;
      height: 500px;
      top: 60px;
      border: 2px solid $theme-color;
      border-radius: 10px;
      // bottom: 100px;

      p {
        width: fit-content;
        margin: auto;
        color: gray;
      }
    }
    .file-modal-details-wrapper-light {
      width: fit-content;
      margin: auto;
      position: absolute;
      width: 250px;
      top: 65px;
      height: 495px;
      right: 15px;
      // border: 1px solid white;

      .file-name-modal-light {
        position: absolute;
        width: fit-content;
        margin: auto;
        width: 250px;
        padding: 10px;
        align-items: center;
        background: linear-gradient(
          96.2deg,
          rgba(228, 228, 228, 0.22) 0%,
          rgba(227, 228, 228, 0.22) 6.67%,
          rgba(222, 228, 228, 0.22) 13.33%,
          rgba(214, 228, 228, 0.22) 20%,
          rgba(202, 227, 228, 0.22) 26.67%,
          rgba(186, 226, 228, 0.22) 33.33%,
          rgba(168, 225, 228, 0.22) 40%,
          rgba(148, 224, 228, 0.22) 46.67%,
          rgba(127, 223, 228, 0.22) 53.33%,
          rgba(107, 221, 228, 0.22) 60%,
          rgba(89, 220, 228, 0.22) 66.67%,
          rgba(74, 220, 228, 0.22) 73.33%,
          rgba(62, 219, 228, 0.22) 80%,
          rgba(53, 218, 228, 0.22) 86.67%,
          rgba(49, 218, 228, 0.22) 93.33%,
          rgba(47, 218, 228, 0.22) 100%
        );
        border-radius: 5px;
        backdrop-filter: blur(50px);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        p {
          margin: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $theme-color;
          font-family: $theme-font;
          font-weight: 400;
        }
      }
      .file-info-details-light {
        width: 250px;
        margin-top: 150px;
        border: 2px solid $theme-color;
        border-radius: 5px;
        background-color: $theme-color-light;
        height: 150px;
        .details-wrapper-light {
          margin-top: 20px;
          margin-bottom: 20px;
          p {
            align-items: center;
            text-align: center;
            font-family: $theme-font;
            font-weight: 400;
            color: $theme-color;
            font-size: 0.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 20px;
          }
        }
      }
      .file-info-modal-buttons-light {
        margin-top: 100px;
        .download-button-light {
          width: fit-content;
          margin: auto;
          display: flex;
          align-items: center;
          // background-color: $craft-dash-green;
          border: 2px solid rgba(50, 165, 117, 1);
          width: 250px;
          height: 40px;
          border-radius: 5px;
          .download-button-content-light {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: fit-content;
            margin: auto;
            img {
              content: url("../../../img/download-button-icon.svg");
              width: 20px;
              margin-right: 10px;
            }
            p {
              cursor: pointer;
              font-family: $theme-font;
              color: $theme-color;
              font-weight: 700;
              font-size: 1em;
            }
          }
          &:hover {
            background-color: rgba(50, 165, 117, 0.4);
            border: 1px solid $craft-dash-green;
            img {
              content: url("../../../img/download-button-icon-hover.svg");
              width: 20px;
              margin-right: 10px;
            }
            p {
              cursor: pointer;
              font-family: $theme-font;
              color: $theme-color;
              font-weight: 700;
              font-size: 1em;
            }
          }
        }
        .remove-node-button-light {
          width: fit-content;
          margin: auto;
          display: flex;
          margin-top: 10px;
          align-items: center;
          background-color: $craft-dash-red;
          border: 1px solid $craft-dash-red;
          width: 250px;
          height: 40px;
          border-radius: 5px;
          .remove-node-button-content-light {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: fit-content;
            margin: auto;

            p {
              cursor: pointer;
              font-family: $theme-font;
              color: $theme-color;
              font-weight: 700;
              font-size: 1em;
            }
          }
          &:hover {
            background-color: rgba(252, 83, 100, 0.4);
            border: 1px solid $craft-dash-red;

            p {
              cursor: pointer;
              font-family: $theme-font;
              color: $theme-color;
              font-weight: 700;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
