@import '../../../../sass/utils/colors';
@import '../../../../sass/utils/fonts';

.voice-recorder {
	// border: 1px solid white;
	width: 500px;

	._1lB9c {
		border: 2px solid white;
		display: none;
	}

	._3bC73 {
	}
}
