@import "../../sass/utils/colors";
@import "../../sass/utils/fonts";

.brand-logo-light {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: white;

  img {
    width: 37px;
  }

  h1 {
    font-family: $brand-font;
    font-weight: 300;
    margin-left: 20px;
    color: $theme-color;
  }
}

