@import '../../../sass/utils/colors';
@import '../../../sass/utils/fonts';

@mixin videoProps {
	width: 100px;
	height: 100px;
	// border: 1px solid black;

	object-fit: cover;
	border-radius: 4px;
}

.video-chat {
	// border: 1px solid white;
	width: 110px;
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	video {
		margin-top: 10px;
	}

	.my-video {
		@include videoProps();
	}

	.video-wrapper {
		// border: 1px solid #0087cc;
		display: flex;
		align-items: center;
		justify-content: space-around;

		video {
			@include videoProps();
		}
	}
}
