@import '../../../sass/utils/colors';
@import '../../../sass/utils/fonts';

@mixin videoProps {
	width: 100px;
	height: 100px;
	// border: 1px solid black;

	object-fit: cover;
	border-radius: 10px;
}

.video-chat {
	// border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	// padding-left: 20px;
	background: linear-gradient(
		103.23deg,
		rgba(108, 134, 144, 0.1) 0%,
		rgba(108, 134, 145, 0.04) 49.27%,
		rgba(108, 134, 144, 0.06) 100%
	);
	backdrop-filter: blur(10px);
	// width: 100px;
	position: absolute;
	z-index: 299;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	video {
		// margin-top: 10px;
		transition: all 0.4s ease;
	}

	.my-video {
		@include videoProps();
	}

	.video-wrapper {
		// border: 1px solid #0087cc;
		display: flex;
		align-items: center;
		justify-content: space-around;

		video {
			@include videoProps();
		}
	}
	transition: all 0.4s ease;
}
