@import '../../../../sass/utils/colors';
@import '../../../../sass/utils/fonts';

.collaborator {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
	cursor: pointer;
	background-color: $theme-color;
	// border: 2px solid $charcoal;

	.collaborator-pic {
		img {
			margin-top: 3px;
			width: 35px;
		}
	}

	.collaborator-email {
		h2 {
			font-family: $theme-font;
			font-size: 1em;
			font-weight: 300;
			color: $label-color;
		}
	}

	.collaborator-remove-user {
		img {
			width: 40px;
			padding: 7px;
			cursor: pointer;
			transition: 0.4s all ease;
			border-radius: 4px;
		}

		img:hover {
			background-color: #eb1f6d50;
		}
	}
}
