@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.top-nav-main {
  position: absolute;
  width: 80vw;
  height: 7vh;
  top: 0;
  left: 0;
  // border: 1px solid white;
  // background-color: $theme-color;

  .expand-btn-wrapper {
    // border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);

    img {
      cursor: pointer;
      width: 24px;
    }
  }

  // border: 1px solid white;
  .brand-logo-wrapper {
    width: 130px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .upload-file-wrapper {
    width: fit-content;
    position: absolute;
    right: 15px;
    margin-top: 5px;
    // border: 1px solid white;

    .upload-file-button {
      //   border: 1px solid gold;
      padding: 5px;
      width: 45px;
      border-radius: 15px;
    }
    .upload-file-button:hover {
      transform: scale(1.1);
      //   background-color: rgba(63, 222, 156, 0.2);
    }
  }
}
