@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.cloud-storage {
  width: 100%;
  position: absolute;
  background: url("../../../img/landing-page-bg.svg");
  background-size: cover;
  height: 100vh;

  .top-nav {
    position: absolute;
    width: 1000px;
    height: 10vh;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid #323232;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .brand-logo-wrapper {
      width: 170px;
    }

    .add-btn {
      width: 170px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        border-radius: 10px;
        padding: 10px;
        width: 50px;
        transition: 0.2s all ease;
      }

      cursor: pointer;
      transition: 0.4s all ease;
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 170px;
      height: 70px;
    }
  }

  .ideaboard-name {
    width: fit-content;
    margin: auto;
    margin-top: 120px;
    transform: translateX(-5%);
    height: 4vh;

    h1 {
      width: fit-content;
      font-family: $theme-font;
      font-weight: 500;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $theme-color;
      background-color: $craft-dash-green;
      border-radius: 5px;
      border: 2px solid $craft-dash-green;
      transition: 0.1s ease-in-out;
    }
  }

  .add-button-wrapper {
    // border: 1px solid white;
    position: absolute;
    bottom: 35px;
    right: 35px;
    .add-button-base {
      width: fit-content;
      display: inline-block;
      .add-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        img {
          width: 55px;
        }
      }
      .files-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
      .audio-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
      .notes-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
    }
  }
  .rodal-cloud-bg {
    background: linear-gradient(
      103.23deg,
      rgba(108, 134, 144, 0.1) 0%,
      rgba(108, 134, 145, 0.04) 49.27%,
      rgba(108, 134, 144, 0.06) 100%
    );
    backdrop-filter: blur(10px);
  }
  .cdc-logo-wrapper {
    width: fit-content;
    margin: auto;
    // border: 1px solid white;
    margin-top: 10px;
    img {
      width: 250px;
    }
  }
  .files-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      margin-right: 10px;
    }
    p {
      color: $label-color;
      font-family: $theme-font;
    }
  }
  .audio-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      margin-right: 10px;
    }
    p {
      color: $label-color;
      font-family: $theme-font;
    }
  }
  .files-field-wrapper {
    background-color: $gunmetal;
    width: 900px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 2px solid $charcoal;
    .dropzone {
      position: absolute;
      // border: 1px solid white;
      // outline: 1px solid $craft-dash-green;
      outline: none;
      border-radius: 5px;
      height: 450px;
      width: 900px;
    }
    .label-row-1 {
      // border: 1px solid white;
      width: fit-content;
      margin: auto;
      margin-top: 150px;
      font-family: $theme-font;
      color: #797a7a;
      font-size: 1.2em;
      font-weight: 300;
      letter-spacing: 2px;
      // p {
      // }
    }
    .label-row-2 {
      position: absolute;
      width: fit-content;
      margin: auto;
      bottom: 50px;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-family: $theme-font;
        color: #797a7a;
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
    .upload-button-wrapper {
      // border: 1px solid white;
      position: absolute;
      width: fit-content;
      margin: auto;
      bottom: 70px;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .upload-button {
        // border: 1px solid white;
        outline: none;
        border: none;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        align-items: center;
        width: 150px;
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        font-weight: 500;
        background-color: rgba(63, 222, 156, 0.8);
        font-family: $theme-font;
        color: $theme-color;
        cursor: pointer;
      }
      .upload-button:hover {
        background-color: rgba(63, 222, 156, 0.5);
        color: rgba(63, 222, 156, 0.8);
      }
    }
  }

  .notes-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    p {
      color: $label-color;
      font-family: $theme-font;
    }
  }
  .notes-field-wrapper {
    width: fit-content;
    margin: auto;
    .notes-field {
      background-color: $gunmetal;
      width: 570px;
      height: 500px;
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
      outline: none;
      border: 2px solid $charcoal;
      color: $label-color;
      padding-top: 5px;
      padding-left: 10px;
      font-family: $theme-font;
      font-size: 1em;
      resize: none;
    }
    .submit-button {
      width: fit-content;
      margin: auto;
      margin-top: 5px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $charcoal;
      border: 2px solid $charcoal;
      font-family: $theme-font;
      font-weight: 500;
      letter-spacing: 2px;
      color: $label-color;
      border: none;
      width: 570px;
      height: 50px;
      border-radius: 5px;
    }
    .submit-button:hover {
      border: 2px solid $charcoal;
      background-color: rgba(44, 62, 80, 0.5);
    }
  }
  .upload-button:hover {
    button {
      background-color: rgba(44, 62, 80, 0.5);
    }
  }
  .label-row-2 {
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    p {
      font-family: $theme-font;
      color: #797a7a;
      font-size: 0.8em;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
  .files-display-wrapper {
    width: fit-content;
    margin: auto;
    border: 1px solid white;
    .notes-wrapper {
      position: absolute;
      margin-top: 40px;
      left: 70px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .notes-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .notes-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
    .audios-wrapper {
      position: absolute;
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      right: 580px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .audios-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .audios-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
    .files-wrapper {
      position: absolute;
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      right: 100px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .files-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .files-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
  }
}
