@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.cloud-storage {
  width: 100%;
  position: absolute;
  background: url("../../../img/landing-page-bg.svg");
  background-size: cover;
  height: 100vh;

  .remote-files-wrapper {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 1000px;
    height: 560px;
    margin: auto;
    margin-top: 50px;

    p {
      font-family: $theme-font;
      color: $label-color;
    }
    .remote-file-wrapper {
      //   margin-top: 80px;
      position: relative;
      margin-left: 30px;
      margin-bottom: 10px;
      width: fit-content;
      padding: 2px;
      height: fit-content;
      // background-color: white;
      border-radius: 10px;
      background-color: $theme-color;
      border: 2px solid $charcoal;

      .remote-file {
        position: relative;
        width: 200px;
        height: 150px;
        border-radius: 10px;
        background-color: $theme-color;
        overflow: hidden;

        .svg-preview,
        .pdf-bg {
          background-color: transparent;
          width: 100px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .svg-preview {
          width: 200px;
          color: $label-color;
          background-color: $label-color;
        }
        .svg-preview::-webkit-scrollbar {
          width: 1px;
          border-radius: 10px;
        }

        .svg-preview::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .svg-preview::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
          border-radius: 10px;
        }
      }

      .file-icon {
        position: relative;
        img {
          position: absolute;
          width: 24px;
          left: 1px;
          bottom: -40px;
        }
      }

      .file-name {
        position: absolute;
        left: 35px;
        bottom: -41px;
        width: fit-content;
        margin: auto;
        width: 130px;
        background: linear-gradient(
          96.2deg,
          rgba(228, 228, 228, 0.22) 0%,
          rgba(227, 228, 228, 0.22) 6.67%,
          rgba(222, 228, 228, 0.22) 13.33%,
          rgba(214, 228, 228, 0.22) 20%,
          rgba(202, 227, 228, 0.22) 26.67%,
          rgba(186, 226, 228, 0.22) 33.33%,
          rgba(168, 225, 228, 0.22) 40%,
          rgba(148, 224, 228, 0.22) 46.67%,
          rgba(127, 223, 228, 0.22) 53.33%,
          rgba(107, 221, 228, 0.22) 60%,
          rgba(89, 220, 228, 0.22) 66.67%,
          rgba(74, 220, 228, 0.22) 73.33%,
          rgba(62, 219, 228, 0.22) 80%,
          rgba(53, 218, 228, 0.22) 86.67%,
          rgba(49, 218, 228, 0.22) 93.33%,
          rgba(47, 218, 228, 0.22) 100%
        );
        backdrop-filter: blur(5px);
        padding: 5px;
        border-radius: 5px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $theme-font;
          font-weight: 300;
          font-size: 0.7em;
          color: $label-color;
        }
      }
      .download-icon-wrapper {
        border-radius: 50%;
        background-color: $craft-dash-green;
        border: 1px solid $craft-dash-green;
        position: absolute;
        bottom: -40px;
        right: 0px;
        width: 25px;
        height: 25px;
        align-items: center;
        margin: auto;
        transition: 0.2s ease-in-out;
        img {
          content: url("../../../img/download-icon.png");
          position: absolute;
          width: fit-content;
          margin: auto;
          width: 14px;
          height: 14px;
          top: 3px;
          left: 3px;
          bottom: 3px;
          right: 3px;
        }
      }
      .download-icon-wrapper:hover {
        background-color: rgba(63, 222, 156, 0.5);
        border: 1px solid $craft-dash-green;
        backdrop-filter: blur(10px);
        img {
          content: url("../../../img/download-icon-hover.png");
          position: absolute;
          width: fit-content;
          margin: auto;
          width: 13px;
          height: 13px;
          top: 5px;
          left: 5px;
          bottom: 5px;
          right: 5px;
        }
      }
    }
  }
  .remote-files-wrapper::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
  }

  .remote-files-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .remote-files-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .top-nav {
    position: absolute;
    width: 1000px;
    height: 10vh;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid #323232;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .brand-logo-wrapper {
      width: 170px;
    }

    .add-btn {
      width: 170px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        border-radius: 10px;
        padding: 10px;
        width: 50px;
        transition: 0.2s all ease;
      }

      cursor: pointer;
      transition: 0.4s all ease;
    }

    .user-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 170px;
      height: 70px;
    }
  }

  .ideaboard-name {
    width: fit-content;
    margin: auto;
    margin-top: 120px;
    transform: translateX(-5%);
    height: 4vh;

    h1 {
      width: fit-content;
      font-family: $theme-font;
      font-weight: 500;
      font-size: 1em;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: $theme-color;
      background-color: $craft-dash-green;
      border-radius: 5px;
      border: 2px solid $craft-dash-green;
      transition: 0.1s ease-in-out;
    }
  }

  .add-button-wrapper {
    // border: 1px solid white;
    position: absolute;
    bottom: 35px;
    right: 35px;
    .add-button-base {
      width: fit-content;
      display: inline-block;
      .add-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        img {
          width: 55px;
        }
      }
      .files-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
      .audio-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
      .notes-button {
        // background-color: $craft-dash-green;
        border-radius: 50%;
        margin-left: 5px;
        transition: 0.2s ease-in-out;
        img {
          width: 50px;
        }
      }
    }
  }
  .rodal-cloud-bg {
    background: linear-gradient(
      103.23deg,
      rgba(108, 134, 144, 0.1) 0%,
      rgba(108, 134, 145, 0.04) 49.27%,
      rgba(108, 134, 144, 0.06) 100%
    );
    backdrop-filter: blur(10px);
  }
  .cdc-logo-wrapper {
    width: fit-content;
    margin: auto;
    // border: 1px solid white;
    margin-top: 10px;
    img {
      width: 250px;
    }
  }
  .files-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      margin-right: 10px;
    }
    p {
      color: $label-color;
      font-family: $theme-font;
    }
  }
  .audio-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      margin-right: 10px;
    }
    p {
      color: $label-color;
      font-family: $theme-font;
    }
  }
  .files-field-wrapper {
    background-color: $gunmetal;
    width: 900px;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 2px solid $charcoal;
    .dropzone {
      position: absolute;
      // border: 1px solid white;
      // outline: 1px solid $craft-dash-green;
      outline: none;
      border-radius: 5px;
      height: 450px;
      width: 900px;
    }
    .label-row-1 {
      // border: 1px solid white;
      width: fit-content;
      margin: auto;
      margin-top: 150px;
      font-family: $theme-font;
      color: #797a7a;
      font-size: 1.2em;
      font-weight: 300;
      letter-spacing: 2px;
      // p {
      // }
    }
    .label-row-2 {
      position: absolute;
      width: fit-content;
      margin: auto;
      bottom: 50px;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-family: $theme-font;
        color: #797a7a;
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
    .upload-button-wrapper {
      // border: 1px solid white;
      position: absolute;
      width: fit-content;
      margin: auto;
      bottom: 70px;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .upload-button {
        // border: 1px solid white;
        outline: none;
        border: none;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        align-items: center;
        width: 150px;
        height: 40px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        font-weight: 500;
        background-color: rgba(63, 222, 156, 1);
        border: 1px solid $craft-dash-green;
        font-family: $theme-font;
        color: $theme-color;
        cursor: pointer;
      }
      .upload-button:hover {
        background-color: rgba(63, 222, 156, 0.5);
        color: rgba(63, 222, 156, 0.8);
        border: 1px solid $craft-dash-green;
      }
    }
  }

  .notes-header {
    // border: 1px solid white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    img {
      width: 250px;
    }
  }
  .notes-field-wrapper {
    width: fit-content;
    margin: auto;
    .notes-field {
      background-color: $gunmetal;
      width: 570px;
      height: 500px;
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
      outline: none;
      border: 2px solid $charcoal;
      color: $label-color;
      padding-top: 5px;
      padding-left: 10px;
      font-family: $theme-font;
      font-size: 1em;
      resize: none;
    }
    .submit-button {
      width: fit-content;
      margin: auto;
      margin-top: 5px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $charcoal;
      border: 2px solid $charcoal;
      font-family: $theme-font;
      font-weight: 500;
      letter-spacing: 2px;
      color: $label-color;
      border: none;
      width: 570px;
      height: 50px;
      border-radius: 5px;
    }
    .submit-button:hover {
      border: 2px solid $charcoal;
      background-color: rgba(44, 62, 80, 0.5);
    }
  }
  .upload-button:hover {
    button {
      background-color: rgba(44, 62, 80, 0.5);
    }
  }
  .label-row-2 {
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    p {
      font-family: $theme-font;
      color: #797a7a;
      font-size: 0.8em;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
  .files-display-wrapper {
    width: fit-content;
    margin: auto;
    border: 1px solid white;
    .notes-wrapper {
      position: absolute;
      margin-top: 40px;
      left: 70px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .notes-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .notes-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
    .audios-wrapper {
      position: absolute;
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      right: 580px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .audios-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .audios-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
    .files-wrapper {
      position: absolute;
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      right: 100px;
      width: 400px;
      height: 450px;
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
      transition: 0.4s ease-in-out;

      .files-wrapper-header {
        width: fit-content;
        margin: auto;
        p {
          // border: 1px solid white;
          margin-top: 25px;
          font-family: $theme-font;
          color: $label-color;
          font-size: 1.2em;
        }
      }
    }
    .files-wrapper:hover {
      background: linear-gradient(
        180deg,
        rgba(31, 32, 35, 0.49) 0%,
        rgba(31, 32, 35, 0.36) 100%
      );
      border-radius: 15px;
      backdrop-filter: blur(5px);
      border-left: 1px solid rgba(234, 236, 239, 0.3);
      border-top: 1px solid rgba(234, 236, 239, 0.3);
      border-right: 1px solid rgba(234, 236, 239, 0.2);
      border-bottom: 1px solid rgba(234, 236, 239, 0.2);
    }
  }
}
